.catalogo-titulo {
    position: absolute;
<<<<<<< Updated upstream
    top: 180px;
=======
    top: 170px;
>>>>>>> Stashed changes
    left: 60px;
    margin-top: 10px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;

    color: #000000;
}

/* Container dos blocos */
.catalogo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 150px;
}

/* Bloco maior */
.servico-produto {
    position: relative;
    width: 400px;
    height: 400px;
    background: #2E7D32;
    border-radius: 12px;
}

/* Frame maior proporcional */
.servico-frame {
    position: relative;
    width: 280px;
    height: 280px;
    margin: 20px auto 0 auto;
<<<<<<< Updated upstream
    background: #FEFBE8;
=======
    background: #A5D6A7;
>>>>>>> Stashed changes
    border-radius: 8px;
}

/* Nome do serviço */
.servico-nome {
    margin-top: 10px;
    padding: 0 10px;
    height: auto;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    background: #2E7D32;

    color: #F1F8E9;
<<<<<<< Updated upstream
}

/* IMAGENS */

.campanhas{
    position: absolute;
    width: 250px;
    height: 272px;
    left: 20px;
    top: 5px;
}

.consultoria{
    position: absolute;
    width: 250px;
    height: 272px;
    left: 15px;
    top: 6px;
}

.gestaoResiduos{
    position: absolute;
    width: 250px;
    height: 270px;
    left: 15px;
    top: 2px;
}

.gestaoMonitoramento{
    position: absolute;
    width: 235px;
    height: 279px;
    left: 23px;
    top: 1px;
}

.plataformas{
    position: absolute;
    width: 270px;
    height: 270px;
    left: 7.5px;
    top: 5px;
}

.tecnologia{    
    position: absolute;
    width: 250px;
    height: 280px;
    left: 25px;
    top: 0px;
}

.solucoes{
    position: absolute;
    width: 250px;
    height: 262px;
    left: 25px;
    top: 6px;
}

.sistemas{
    position: absolute;
    width: 219px;
    height: 280px;
    left: 30px;
    top: 0px;
}
=======
}
>>>>>>> Stashed changes
