    .catalogo-titulo {
        position: absolute;
        top: 170px;
        left: 60px;
        margin-top: 10px;

        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 61px;

        color: #000000;
    }

    /* Container dos blocos */
    .catalogo-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        margin-top: 150px;
    }

    /* Bloco maior */
    .servico-produto {
        position: relative;
        width: 280px;
        height: 280px;
        background: #2E7D32;
        border-radius: 12px;
    }

    /* Frame maior proporcional */
    .servico-frame {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 20px auto 0 auto;
        background: #A5D6A7;
        border-radius: 8px;
    }

    /* Nome do serviço */
    .servico-nome {
        margin-top: 10px;
        padding: 0 10px;
        height: auto;

        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 550;
        font-size: 17.5px;
        line-height: 18px;
        text-align: center;
        background: #2E7D32;

        color: #F1F8E9;
    }

    /* IMAGENS */

    .campanhas{
        position: absolute;
        width: 160px;
        height: 182px;
        left: 20px;
        top: 10px;
        border-radius: 8px;
    }

    .consultoria{
        position: absolute;
        width: 150px;
        height: 172px;
        left: 24px;
        top: 13px;
        border-radius: 8px;
    }

    .gestaoResiduos{
        position: absolute;
        width: 160px;
        height: 170px;
        left: 20px;
        top: 13px;
        border-radius: 8px;
    }

    .gestaoMonitoramento{
        position: absolute;
        width: 160px;
        height: 184px;
        left: 20px;
        top: 8px;
        border-radius: 8px;
    }

    .plataformas{
        position: absolute;
        width: 180px;
        height: 180px;
        left: 10px;
        top: 7px;
        border-radius: 8px;
    }

    .tecnologia{    
        position: absolute;
        width: 160px;
        height: 182px;
        left: 20px;
        top: 10px;
        border-radius: 8px;
    }

    .solucoes{
        position: absolute;
        width: 160px;
        height: 182px;
        left: 20px;
        top: 10px;
        border-radius: 8px;
    }

    .sistemas{
        position: absolute;
        width: 160px;
        height: 182px;
        left: 20px;
        top: 10px;
        border-radius: 8px;
    }