    .Home{
        position: absolute;
        width: 441px;
        height: 63px;
        left: 481px;
        top: 175px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 61px;

        color: #000000;    
    }

    /* CONTAINERS DE NOTICIA */

    .Container{
        position: absolute;
        width: 430px;
        height: 180px;
        left: 440px;
        top: 469px;
        background-color: var(--corQuart);
    }

    .Container2{
        position: absolute;
        width: 429px;
        height: 180px;
        left: 440px;
        top: 269px; 
        background-color: var(--corQuart);       
    }

    .Container3{
        position: absolute;
        width: 837px;
        height: 236px;
        left: 33px;
        top: 669px;        
        background-color: var(--corQuart);    
    }

    .container1{
        position: absolute;
        left: 0%;
        right: 0%;
        top: -2.22%;
        bottom: 2.22%;

        background: #F1F8E9;
        border-radius: 15px;
    }

    .container2{
        position: absolute;
        left: 2.5%;
        right: 2.5%;
        top: 3.33%;
        bottom: 7.78%;

        background: var(--corTerc);
        border-radius: 17px;    
    }

    .noticia{
        position: absolute;
        left: 3.49%;
        right: 3.72%;
        top: 7.22%;
        bottom: 12.22%;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;

        align-items: center;
        background: var(--corTerc);

        color: #000000;    
    }

    .container3{
        position: absolute;
        left: 0%;
        right: 0%;
        top: -2.22%;
        bottom: 2.22%;
    
        background: #F1F8E9;
        border-radius: 15px;    
    }

    .container4{
        position: absolute;
        left: 1.55%;
        right: 1.55%;
        top: 3.33%;
        bottom: 7.78%;

        background: var(--corTerc);
        border-radius: 17px;    
    }

    .sobrenos{
        position: absolute;
        left: 2.75%;
        right: 2.75%;
        top: 4.44%;
        bottom: 5.56%;
        background-color: var(--corTerc);

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;

        color: #000000;    
    }

    /* MENU DE OPÇOES */

    .menu1{
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;

        background: #F1F8E9;
        border-radius: 56px;
    }

    .menu2{
        position: absolute;
        left: 7.46%;
        right: 7.46%;
        top: 10.47%;
        bottom: 82.48%;

        background: #00796B;
        border-radius: 30px;    
    }

    .menu3{
        position: absolute;
        left: 22.62%;
        right: 21.85%;
        top: 22.65%;
        bottom: 70.3%;

        background: #00796B;
        border-radius: 30px;
    }

    .menu4{
        position: absolute;
        left: 22.62%;
        right: 21.85%;
        top: 31.41%;
        bottom: 57.91%;

        background: #00796B;
        border-radius: 30px;   
    }

    .menu5{
        position: absolute;
        left: 22.62%;
        right: 21.85%;
        top: 43.8%;
        bottom: 49.15%;

        background: #00796B;
        border-radius: 30px;    
    }

    .menu6{
        position: absolute;
        left: 22.62%;
        right: 21.85%;
        top: 52.56%;
        bottom: 40.38%;

        background: #00796B;
        border-radius: 30px;
    }

    .menu7{
        position: absolute;
        left: 22.62%;
        right: 21.85%;
        top: 82.48%;
        bottom: 10.47%;

        background: #00796B;
        border-radius: 30px;    
    }

    .menu8{
        position: absolute;
        left: 22.62%;
        right: 21.85%;
        top: 61.32%;
        bottom: 31.62%;

        background: #00796B;
        border-radius: 30px;    
    }

    .menu9{
        position: absolute;
        left: 22.62%;
        right: 21.85%;
        top: 70.09%;
        bottom: 19.23%;

        background: #00796B;
        border-radius: 30px;    
    }

    .menu{
        position: absolute;
        left: 24.94%;
        right: 24.68%;
        top: 11.75%;
        bottom: 83.97%;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        background-color: var(--corQuin);

        color: #FFFFFF;    
    }

    .menuPromo{
        position: absolute;
        left: 25.19%;
        right: 24.42%;
        top: 23.93%;
        bottom: 71.79%;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        background-color: var(--corQuin);

        color: #FFFFFF;    
    }

    .menuContatos{
        position: absolute;
        left: 25.19%;
        right: 24.42%;
        top: 83.97%;
        bottom: 11.75%;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        background-color: var(--corQuin);

        color: #FFFFFF;    
    }

    .menuInsta{
        position: absolute;
        left: 25.19%;
        right: 24.42%;
        top: 45.09%;
        bottom: 50.64%;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        background-color: var(--corQuin);

        color: #FFFFFF;    
    }

    .menuServiços{
        position: absolute;
        left: 25.19%;
        right: 24.42%;
        top: 53.85%;
        bottom: 41.88%;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        background-color: var(--corQuin);

        color: #FFFFFF;    
    }

    .menuSobre{
        position: absolute;
        left: 25.19%;
        right: 24.42%;
        top: 62.61%;
        bottom: 33.12%;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        background-color: var(--corQuin);

        color: #FFFFFF;    
    }

    .menuTrabalhe{
        position: absolute;
        left: 25.19%;
        right: 24.42%;
        top: 73.29%;
        bottom: 22.44%;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: var(--corQuin);

        color: #FFFFFF;    
    }

    .menuSist{
        position: absolute;
        left: 25.19%;
        right: 24.42%;
        top: 34.62%;
        bottom: 61.11%;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: var(--corQuin);

        color: #FFFFFF;    
    }

    .Image {
        position: fixed;       /* fixa a imagem na tela */
        top: 100%;              /* posiciona no meio da altura da viewport */
        right: 650px;              /* encostada na direita */
        transform: translateY(-50%); /*centraliza verticalmente exato */
        width: 25%;           /* largura responsiva (25% da largura da tela) */
        max-width: 456px;      /* não ultrapassa 456px */
        height: auto;          /* altura automática para manter proporção */
        border-radius: 15px;
        background: url('images/post.png') no-repeat center/cover;
        background-color: transparent; /* caso queira fundo transparente */
      }
      
      /* Para telas muito pequenas, podemos diminuir a imagem */
      @media (max-width: 600px) {
        .Image {
          width: 40vw;
          max-width: 300px;
        }
      }
      